html
  head
    link(href="public/css/bootstrap.min.css", rel="stylesheet")
  body
    block content
  foot
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="public/js/bootstrap.min.js")
    script(src="public/form.js")
